/* Base */

$green: rgb(0, 255, 0);
$gray: #BBB;

@mixin default-border {
  border: 1px solid $gray;
  border-radius: 3px;
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}

* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: arial;
  font-size: 12px;
}

body {
  padding-bottom: 20px;
}

input {
  @include default-border;
  margin: 0;
  padding: 0;
  padding: 10px;
  box-shadow: none;
  outline: 0;
  background: white;
}

@include placeholder {
  -webkit-font-smoothing: antialiased;
}

a {
  cursor: pointer;
}

/* Layout */

.auth-links {
  position: absolute;
  top: 24px;
  right: 20px;
}

.add-link {
  position: absolute;
  top: 24px;
  left: 20px;
}


/* Forms */ 

.auth-form,
.add-link-form {
  &.is-active { display: block; }
}

.auth-form {
  @include default-border();
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background: white;
}

.auth-form-link {
  text-decoration: none;

  &.is-active,
  &:hover { text-decoration: underline; }
}

.ld-form {
  position: relative;

  input {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 5px;
  }

  input[type=submit] {
    width: auto;
    padding: 10px 20px;
  }

  .ld-form-label {
    margin-bottom: 20px;
  }
}

.ld-form-field-set {
  margin-bottom: 10px;
}

.ld-form-submit-container {
  text-align: center;
}

.ld-form-close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 18px;
  line-height: .5;
}

.ld-form-success {
  text-align: center;

  a {
    text-decoration: underline;
  }
}

.ld-form-success-text {
  color: $gray;
  margin-bottom: 10px;
}

/* Random Color Picker */

.random-color-picker {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 10px;
  border: 1px solid $gray;
  border-radius: 3px;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
}

.rcp-label {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
  color: $gray;
  padding: 10px;
}

.rcp-label-inner {
  display: table-cell;
  vertical-align: middle;
}

.rcp-swatch {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* Add link */

.add-link-form {
  margin-top: 14px;

  input {
    display: block;
    width: 400px;
    margin-left: 20px;
    margin-bottom: 60px;
  }

  &.is-invalid input { border-color: red;}
}

/* Overlay */ 

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(255,255,255,.9);

  &.is-active {
    display: table;
  }
}

.overlay-inner {
  display: table-cell;
  vertical-align: middle;
}

/* Loader */

.loader {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, .9);
  content: "Loading...";

  &.is-active {
    display: table;
  }
}

.loader-inner {
  display: table-cell;
  vertical-align: middle;
}

/* Link */

.link-list {
}

.link {
  position:relative;
  padding: 20px;
  font-size: 50px;
  transition: opacity .2s;
  opacity: 0;

  a {
    color: white;
    text-decoration: none; 
  }

  &:hover { opacity: .7 !important; }
}

.link-username {
  color: white;
  font-size: 11px;
}


