/* Base */

$green: rgb(0, 255, 0);
$lightGray: #BBB;
$midGray: #666;

@mixin default-border {
  border: 1px solid #EFEFEF;
  // border: none;
  border-radius: 3px;
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}

* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: "Open Sans", arial;
  font-size: 12px;
}

body {
  padding-bottom: 20px;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(253,237,216,0)), color-stop(51%,rgba(253,237,216,1)), color-stop(100%,rgba(253,237,216,0)));
}

input,
textarea {
  @include default-border;
  margin: 0;
  padding: 0;
  padding: 10px;
  box-shadow: none;
  outline: 0;
  background: white;
}

@include placeholder {
  -webkit-font-smoothing: antialiased;
}

a {
  cursor: pointer;
}

/* Layout */
.nav-bar {
  overflow: auto;
  color: $midGray;
  padding: 20px;
}

.page-title {
  float: left;
}

.auth-links {
  float: right;
}

/* Add link form */

.add-link-button {

}


/* Forms */ 

.auth-form,
.add-link-form {
  &.is-active { display: block; }
}

.auth-form {
  @include default-border();
  border: none;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background: white;
}

.auth-form-link {
  text-decoration: none;

  &.is-active,
  &:hover { text-decoration: underline; }
}

.ld-form {
  position: relative;

  input {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 5px;
  }

  input[type=submit] {
    width: auto;
    padding: 10px 20px;
  }

  .ld-form-label {
    margin-bottom: 20px;
  }
}

.ld-form-field-set {
  margin-bottom: 10px;
}

.ld-form-submit-container {
  text-align: center;
}

.ld-form-close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 18px;
  line-height: .5;
}

.ld-form-success {
  text-align: center;

  a {
    text-decoration: underline;
  }
}

.ld-form-success-text {
  color: $lightGray;
  margin-bottom: 10px;
}

/* Random Color Picker */

.random-color-picker {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 10px;
  border: 1px solid $lightGray;
  border-radius: 3px;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
}

.rcp-label {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
  color: $lightGray;
  padding: 10px;
}

.rcp-label-inner {
  display: table-cell;
  vertical-align: middle;
}

.rcp-swatch {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* Add link */

.add-link {
  background-color: rgb(164, 192, 146);
  padding: 20px;
  transition: max-height 1s;
  transition-timing-function: ease-out;
  font-size: 24px;

  .add-link-form { max-height: 0; overflow: hidden; transition: all .5s;}

  &.is-active { 
    .add-link-form { max-height: 160px; margin-bottom: 40px; }
  }
}

.add-link-button {
  display: block;
  color: white;
  -webkit-user-select: none;
}

.add-link-form {
  display: none;
  width: 300px;

  input,
  textarea {
    display: block;
    width: 100%;
    margin: 5px 0;
  }

  input[type=submit] {
    width: 100px;
    margin-top: 20px;
    color: $midGray;
    cursor: pointer;
  }

  &.is-invalid input { border-color: red;}
}

/* Overlay */ 

.overlay {
  position: fixed;
  display: table;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;

  &.is-active {
    display: table;
  }
}

.overlay-inner {
  display: table-cell;
  vertical-align: middle;
}

/* Loader */

.loader {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, .9);
  content: "Loading...";

  &.is-active {
    display: table;
  }
}

.loader-inner {
  display: table-cell;
  vertical-align: middle;
}

/* Link */

.link-list {}

.link {
  position:relative;
  padding: 20px;
  transition: background .2s;
  opacity: 0;

  a {
    color: $midGray;
    font-weight: bold;
    text-decoration: none; 
  }

  &:hover { background: #FFF; }
}

.link-username {
  color: $lightGray;
  font-size: 11px;
}


